<div>
  <div class="container">
    <div class="row">
        <div class="col">
<img src='https://fthmb.tqn.com/2C_6OP-PY6ZN632RoCNt6itd-WQ=/768x0/filters:no_upscale():max_bytes(150000):strip_icc()/warning--data-transfer-in-progress-507065943-59c6d2a70d327a001141794d.jpg'>
      </div>
      <div class="col">
        <p>
          We are #FosterCode, we are learning full-stack web development. Through the use of HTML, CSS, JavaScript. We are very dedicated.
        </p>
      </div>
    </div>
  </div>
</div>