div 
{
    background: url("https://motherslove2521.files.wordpress.com/2015/01/lazy-parents-create-happier-children.jpg?w=825&h=510&crop=1");
    background-size: cover;
    width:100vw;
    height:100vh;

}
